ExpositoresWeb03/Connected Services/ServiceReferenceCurso/WFC_Leon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WFC_Leon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WFC_Leon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCursosDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CursosDC" nillable="true" type="tns:CursosDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCursosDC" nillable="true" type="tns:ArrayOfCursosDC" />
  <xs:complexType name="CursosDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="cod_curso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comentarios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado_cur" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_ult_modificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horas_practica" type="xs:int" />
      <xs:element minOccurs="0" name="horas_teoria" type="xs:int" />
      <xs:element minOccurs="0" name="nivel_dificultad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario_registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario_ult_modificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CursosDC" nillable="true" type="tns:CursosDC" />
  <xs:complexType name="ArrayOfEspecialidadDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EspecialidadDC" nillable="true" type="tns:EspecialidadDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspecialidadDC" nillable="true" type="tns:ArrayOfEspecialidadDC" />
  <xs:complexType name="EspecialidadDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescEspecialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEspecialidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EspecialidadDC" nillable="true" type="tns:EspecialidadDC" />
</xs:schema>