MVC_Consultas/Connected Services/ServiceReferenceEventos/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WFC_Leon" />
  <xs:element name="consultarEventos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lugar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="turno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expositor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empresa" type="xs:int" />
        <xs:element minOccurs="0" name="codAsociado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apeAsociado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="estado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarEventosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WFC_Leon" minOccurs="0" name="consultarEventosResult" nillable="true" type="q1:ArrayOfEventosDc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>