MVC_Consultas/Connected Services/ServiceReferenceEventos/WFC_Leon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WFC_Leon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WFC_Leon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEventosDc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventosDc" nillable="true" type="tns:EventosDc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventosDc" nillable="true" type="tns:ArrayOfEventosDc" />
  <xs:complexType name="EventosDc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asociado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Evento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expositor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lugar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Turno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_asociado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado_eve" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_evento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventosDc" nillable="true" type="tns:EventosDc" />
</xs:schema>