ExpositoresWeb03/Connected Services/ServiceReferenceUsuario/WFC_Leon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WFC_Leon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WFC_Leon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioDc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Niv_Usuario" type="xs:int" />
      <xs:element minOccurs="0" name="Pass_Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDc" nillable="true" type="tns:UsuarioDc" />
</xs:schema>