MVC_Consultas/Connected Services/ServiceReferenceExpositores/WFC_Leon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WFC_Leon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WFC_Leon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExpositorDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpositorDC" nillable="true" type="tns:ExpositorDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpositorDC" nillable="true" type="tns:ArrayOfExpositorDC" />
  <xs:complexType name="ExpositorDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido_materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido_paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Registro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Foto_Expositor" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Id_Expositor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado_exp" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tipo_estado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpositorDC" nillable="true" type="tns:ExpositorDC" />
  <xs:complexType name="UbigeoDc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDepa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UbigeoDc" nillable="true" type="tns:UbigeoDc" />
</xs:schema>