ExpositoresWeb03/Connected Services/ServiceReferenceAsociado/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WFC_Leon" />
  <xs:element name="ListarAsociados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAsociadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WFC_Leon" minOccurs="0" name="ListarAsociadosResult" nillable="true" type="q1:ArrayOfAsociadosDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarAsociados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WFC_Leon" minOccurs="0" name="asociado" nillable="true" type="q2:AsociadosDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarAsociadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarAsociadosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAsociados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAsociadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarAsociadosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAsociados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WFC_Leon" minOccurs="0" name="asociado" nillable="true" type="q3:AsociadosDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAsociadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarAsociadosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAsociado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAsociadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WFC_Leon" minOccurs="0" name="ConsultarAsociadoResult" nillable="true" type="q4:AsociadosDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WFC_Leon" minOccurs="0" name="ListarEmpresasResult" nillable="true" type="q5:ArrayOfEmpresasDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>